---
// Page contribuer — ajouter un produit
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Contribuer — Bayen">
  <main>
    <!-- TODO: formulaire contribution -->
  </main>
</Layout>
